:root {
    --bg: rgb(36,36,36);
    --banner: rgb(155, 155, 155); 
    --serverList: rgb(44,52,52);
    --svIcon: rgb(68,68,76);
    --botBar: rgb(52, 52, 62);
}
body{
    background-color: rgb(41, 41, 41);
}
.Notifs{
    height: 32px;
    background-color: black;
    margin-bottom: 8px;
}
.serverIcon{
    text-align: center;
    line-height: 64px;
}
.button{
    border-radius: 32px;
    background-color: var(--svIcon);
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    float: left;
    margin-right: 0px;

}
.channelList{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 75%;
    background-color: var(--serverList);
}
#current{
    border-radius: 24px;
}
.listLeft{
    float: left;
    width: 64px;
    height: 792px;
    border: 0px;
    margin: 0px;
    margin-left: 16px;
    margin-right: 1px;
}
.serverList{
    border-radius: 8px;
    float: right;
    margin: 0;
    background-color: blue;
    height: 800px;
    width: 395px;
}
.serverBanner{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 25%;
    background-color: var(--banner);
}
.Preview{
    background-color: var(--bg);
    border-style: solid;
    border-color: white;
    width: 480px;
    height: 848px;
    margin-left: auto;
    margin-right: auto;
}
.wifi{
    float: right;
    margin-left: 10px;
    margin-top: 5px;
}
.battery{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 0px;
    width: fit-content;
}
.time{
    font-family: Arial;
    width: fit-content;
    color: white;
    float: right;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 5px;
}
.button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.botBar{
    margin-top: 744px;
    height: 64px;
    width: 480px;
    background-color: var(--botBar);
    position: fixed;
}
.icon{
    margin-left: 51px;
    margin-right: 51px;
    line-height: 64px;
    color: white;
    float: left;
}
.serverName{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    font-size: 24px;
    line-height: 48px;
}
#ICON1{
    margin-left: 53px;
}